!!!
/
  Future Imperfect by HTML5 UP
  html5up.net | @ajlkn
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
:scss
  .page-loader {
    position: fixed;
    background: #fff;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 9998;
  }
%html
  %head
    %title Sandboxt news | ITを始め、未来を感じる様々な分野のニュースを斬る！
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    /[if lte IE 8] <script src="assets/js/ie/html5shiv.js"></script>
    %link{:href => "assets/css/main.css", :rel => "stylesheet"}/
    /[if lte IE 9] <link rel="stylesheet" href="assets/css/ie9.css" />
    /[if lte IE 8] <link rel="stylesheet" href="assets/css/ie8.css" />
  %body
    <div class="page-loader" style=""><div class="loader" style="display: none;">Loading</div></div>
    / Wrapper
    #wrapper
      #main
        %article.post
          %header
            .title
              %h2
                %a{:href => "#"} Episode 1: Internet of Everything
              %p Internet of Everything
            .meta
              %time.published{:datetime => "2015-11-01"} May 20, 2016
              %a.author{ href: "https://twitter.com/gogo_tanaka", target: "_blank" }
                %span.name Kazuki Tanaka
                %img{:alt => "", :src => "images/authors/gogotanaka.jpg"}/
              %a.author{ href: "https://twitter.com/_sh_8_", target: "_blank" }
                %span.name Shun Iwase
                %img{:alt => "", :src => "images/authors/sh_8_.jpg"}/

          %a.image.featured{:href => "#"}
            <iframe width="100%" height="180" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/279522967&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
          %p 発表盛りだくさんであった昨晩のGoogle I/O...
      %section#sidebar
        / Intro
        %section#intro
          %a.logo{:href => "#"}
            %img{:alt => "", :src => "images/logo.jpg"}/
          %header
            %h2 Sandbox news
            %p
              Powered by
              %a{:href => "http://aisaac.in/", style: "text-transform: none;", target: "_blank"} aisaac, inc.

        %section#footer
          %ul.icons
            %li
              %a.fa-twitter{:href => "https://twitter.com/sandbox_news"}
                %span.label Twitter
            %li
              %a.fa-facebook{:href => "#"}
                %span.label Facebook
            %li
              %a.fa-instagram{:href => "#"}
                %span.label Instagram
            %li
              %a.fa-rss{:href => "#"}
                %span.label RSS
            %li
              %a.fa-envelope{:href => "#"}
                %span.label Email
          %p.copyright
            © 2016 aisaac, inc.
    / Scripts
    %script{:src => "assets/js/jquery.min.js"}
    %script{:src => "assets/js/skel.min.js"}
    %script{:src => "assets/js/util.js"}
    /[if lte IE 8] <script src="assets/js/ie/respond.min.js"></script>

    %script{:src => "assets/js/main.js"}
    :javascript
      $(window).load(function() {
        $('.page-loader').delay(100).fadeOut('slow');
      });
